{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- title -->
    <title>Learner Tribe</title>
    <!-- favicon -->
    <!--    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" />-->
    <!-- keywords and description -->
    <meta name="description" content="Enter text">
    <meta name="keywords" content="Enter text">

    <link href="{% static 'font/bree/stylesheet.css' %}" rel="stylesheet">
    <link href="{% static 'font/myriad/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/mdtimepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/mdtimepicker-theme.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!--    main js from local-->
    <script src="{% static 'js/main.js' %}"></script>
</head>