{% load static %}
{% include 'authuser/onlyResourcesHeader.html' %}

<style type="text/css">
    body {font-family: Arial, Helvetica, sans-serif;}

    .green-theme{
        background: rgb(62,148,46);
        background-image: linear-gradient(to bottom, #38852a, #4f9841, #65aa58, #7bbe6f, #91d186);
    }

    .green-theme .lt-palletes{
        background-color: #efffeb;
        border: 1px solid #bfbfbf;
    }

    .green-theme .lt-institute-name{
        color:#FFF;
        margin: 5% auto 10% auto;
        text-transform: uppercase;
    }

    .green-theme .submit-button {
        background-color: #4CAF50;
        color: white;
    }

    .blue-theme{
        background-image: linear-gradient(to bottom, #536987, #5e7696, #6983a6, #7490b6, #7f9ec6);
        background-image: url(/static/img/e-learning.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: top;
    }

    .blue-theme .lt-palletes{
        background-color: #f4f8ff;
        border: 1px solid #bfbfbf;
    }

    .blue-theme .lt-institute-name{
        color:#FFF;
        margin: 5% auto 10% auto;
        text-transform: uppercase;
    }

    .blue-theme .submit-button {
        background-color: #2d5180;
        color: white;
    }

    .container{
        padding:5%;
        max-width: none;
    }
    .imgcontainer {
      margin: 1% auto 20px auto;
      width: 95%;
      max-width: 350px;
      text-align:center;
    }

    img.avatar {
      width: 95%;
      border-radius: 10px;
      border: 1px solid #656565;
      box-shadow: 0px 0px 10px #cacacaa8;
    }
	.login-form {
		margin: 3% auto 10% auto;
        width: 95%;
        max-width: 350px;
	}
    .login-form form {
    	background: #f7f7f7;
        padding: 3%;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }

    #bChecksignup {
        white-space: nowrap;
        max-width: 100%;
        display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .switch-form-container{
        padding: 10% 5% 4% 7%;
        background-color: #e8e8e8;
    }
    .input-group .from-input {
        padding: 5px;
    }
    .submit-button{
        background-color: #4CAF50;
        color: white;
        padding: 8px 10px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        text-align: center;
    }

    .disabled_action{
        border-color: #DDDDDD !important;
        background: linear-gradient(90deg, rgb(99, 99, 99) 0%, rgb(99, 99, 99) 100%) !important;
    }

    #spinner-overlay {
      background: #ffffff;
      color: #666666;
      position: fixed;
      height: 100%;
      width: 100%;
      z-index: 5000;
      top: 0;
      left: 0;
      float: left;
      text-align: center;
      padding-top: 25%;
      opacity: .80;
    }
    .spinner {
        margin: 0 auto;
        height: 64px;
        width: 64px;
        animation: rotate 0.8s infinite linear;
        border: 5px solid #3fd273;
        border-right-color: transparent;
        border-radius: 50%;
    }
    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

</style>


<div class="container blue-theme">
    <div class="imgcontainer">
        <img src="{{institute_code.profile_image.url}}" alt="Avatar" class="avatar">

        <!--<h4 class="lt-institute-name">{{institute_code.institute_name}}</h4>-->
    </div>

    <div id="login" class="tab-login" style="display: block">
        <div class="login-form">
            <form id="LoginForm" class="lt-palletes" method="post">{% csrf_token %}

                <h4 class="mb-4 text-center">Log In</h4>
                <div class="form-style px-2">
                    <div class="alert alert-danger login-error-container d-none" role="alert">
                        <label id="registered-login-error" class="error" style="font-size:12px"></label>
                    </div>
                    <div class="alert alert-success login-success-container d-none" role="alert">
                        <div class="text-center">
                            Authentication successful !! <br/>Moving you to dashboard.
                        </div>
                    </div>
                    <div class="input-group mb-4 form-group">
                        <label class="form-label">Email</label>
                        <input type="hidden" name="source" value="web" class="from-input" required/>
                        <input type="text" name="username" id="login_username" placeholder="Email" class="from-input"
                               required/>
                    </div>

                    <div class="input-group mb-4 password form-group">
                        <label class="form-label">Password</label>
                        <input type="password" name="password" id="login_password" placeholder="Password"
                               class="from-input" required/>
                        <span onclick="passwordSHOWs()"></span>
                    </div>

                    <div class="submit-button" onclick="login()">
                        <span class="align-middle">Login</span>
                    </div>
                </div>
            </form>
            <div class="switch-form-container text-right">
                <span class="show-signup">SIGN UP</span>
            </div>
        </div>
    </div>


    <div id="sign_up" class="tab-login" style="display: none">
        <div class="login-form">
            <form id="SignUpForm" class="lt-palletes" method="post">{% csrf_token %}

                <h4 class="mb-4 text-center">Sign Up</h4>
                <div class="d-flex mt-1 mb-2">
                    <div class="mx-2 mx-lg-3">
                        <label for="student" class="login-tab cust-tab active d-flex align-items-center">
                            <input type="radio" name="user_role" id="student" value="student" checked="checked"/>
                            <span class="icon merchant mr-1"></span>Student
                        </label>
                    </div>
                    <div class="mx-2 mx-lg-3">
                        <label for="teacher" class=" login-tab cust-tab d-flex align-items-center">
                            <input type="radio" name="user_role" id="teacher" value="teacher"/>
                            <span class="icon customer mr-1"></span>Teacher
                        </label>
                    </div>
                </div>

                <div class="alert alert-danger signup-error-container d-none" role="alert">
                    <label id="registered-signup-error" class="error" style="font-size:12px"></label>
                </div>

                <div class="form-style px-2">
                    <div class="input-group mb-4">
                        <label class="form-label">Full Name</label>
                        <input type="text" name="full_name" id="full_name" placeholder="Full Name" minlength="5"
                               maxlength="20" class="from-input" required/>
                    </div>
                    <div class="input-group mb-4">
                        <label class="form-label">Email</label>
                        <input type="email" name="email" id="username" placeholder="Email" class="from-input" required/>
                        <label id="registered-email-error" class="error" style="font-size:12px"></label>
                    </div>
                    <div class="input-group mb-4">
                        <label class="form-label">Mobile No.</label>
                        <input type="text" name="mobile_number" id="mobile_number" placeholder="Mobile No." class="from-input" maxlength="10" required/>
                        <label id="registered-mobile-error" class="error" style="font-size:12px"></label>
                    </div>
                    <div class="input-group mb-4 password">
                        <label class="form-label">Password</label>
                        <input type="password" name="password" id="password" minlength="8" maxlength="20"
                               placeholder="Password" class="from-input" required/>
                        <span onclick="passwordSHOW()"></span>
                    </div>
                    <div class="input-group mb-4 password d-none">
                        <label class="form-label">Institute code</label>
                        <input type="text" name="code" id="code" minlength="4" maxlength="6"
                               placeholder="Institute Code" class="from-input" required/>
                    </div>
                    <div class="input-group mb-4 password class_code_input">
                        <label class="form-label">Class code</label>
                        <select type="text" name="class_code" id="classcode" placeholder="Class Code" class="from-input" required>
                            <option value="">--None--</option>
                            {% for class_room in class_list %}
                            <option value="{{class_room.class_code}}">{{class_room.class_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-group checkbox mb-3">
                        <input type="checkbox" name="tnc_signup" id="tnc_signup"/>
                        <label class="form-label" for="tnc_signup" style="font-size: 12px;">I agree to usage terms &
                            conditions.</label>
                    </div>
                    <div class="submit-button" onclick="sign_up()">
                        <span class="align-middle">Register</span>
                    </div>


                    <div class="alert alert-success signup-success-container d-none" role="alert">
                        <div class="text-center">
                            Registration successful !! <br/> Ask your administrator to verify your user.
                        </div>
                    </div>
                </div>
            </form>
            <div class="switch-form-container text-right">
                <span class="show-login">SIGN IN</span>
            </div>
        </div>
    </div>

    <div id="spinner-overlay" style="display:none;">
        <div class="spinner"></div>
    </div>
</div>

{% include 'authuser/footer.html' %}

<script>
    var instituteCode = '{{institute_code.institute_code}}';

    function login() {
        $(".login-error-container").addClass('d-none');
        $(".login-error-container").text('');

        if ( $("#LoginForm").valid() && !$('.login_action_button').hasClass('disabled_action') ) {
            $('.login_action_button span.loading_spinner').removeClass('d-none');
            $('.login_action_button').addClass('disabled_action')

            showSpinner();

            $.ajax({
                type: 'POST',
                url: '/auth/login/00000001/',
                data: $("#LoginForm").serialize(),
                dataType: "json",
                success: function(data) {


                    $('.login_action_button span.loading_spinner').addClass('d-none');
                    $('.login_action_button').removeClass('disabled_action')

                    if (data.message != "success") {
                        $(".login-error-container").removeClass('d-none');
                        $(".login-error-container").text(data.message);
                        return false;
                    } else {
                        $(".login-success-container").removeClass('d-none');
                        $('.login_action_button').addClass('disabled_action');

                        window.location.href = data.redirect_to;
                    }
                },
                error: function (jqXHR, status, err) {
                    hideSpinner();
                    $(".signup-error-container").removeClass('d-none');
                    $(".signup-error-container").text("Something went wrong try again.");
                },
                complete: function (jqXHR, status) {
                    hideSpinner();
                }
            });
        }
    };

    function sign_up() {
        $(".signup-error-container").addClass('d-none');
        $(".signup-error-container").text('');

        if ( $("#SignUpForm").valid() && !$('.signup_action_button').hasClass('disabled_action') ) {
            if ($("#tnc_signup").prop("checked") == false) {
                alert("Please accept terms & conditions.");
                return false;
            }

            $('.signup_action_button span.loading_spinner').removeClass('d-none');
            $('.signup_action_button').addClass('disabled_action')

            showSpinner();

            $.ajax({
                type: 'POST',
                url: '/auth/register/',
                data: $("#SignUpForm").serialize(),
                dataType: "json",
                success: function(data) {
                    hideSpinner();

                    var user_id = data.user_id
                    $("#user_id").val(user_id);

                    $('.signup_action_button span.loading_spinner').addClass('d-none');
                    $('.signup_action_button').removeClass('disabled_action');

                    if (data.message != "success") {
                        $(".signup-error-container").removeClass('d-none');
                        $(".signup-error-container").text(data.message);
                        return false;
                    } else {
                        //$(".tab-login").hide()
                        //$("#login").show();
                        $(".signup-success-container").removeClass('d-none');
                        $('.signup_action_button').addClass('disabled_action');

                    }
                },
                error: function (jqXHR, status, err) {
                    hideSpinner();
                    $(".signup-error-container").removeClass('d-none');
                    $(".signup-error-container").text("Something went wrong try again.");
                },
                complete: function (jqXHR, status) {
                    hideSpinner();
                }
            });
        }
    };

    function forget_pass() {
        if ($("#ForgetPassword").valid()) {
            $('body').addClass("loaders");
            $.ajax({
                type: 'POST',
                url: '/auth/forget_password/',
                data: $("#ForgetPassword").serialize(),
                dataType: "json",
                success: function(data) {
                    if (data.message != "Successfully registered.") {
                        $('body').removeClass("loaders");
                        $("#forget-email-error").text(data.message);
                        $("#forget-email-error").show();
                        return false;
                    } else {
                        window.location.href = "/webuser/login/"
                    }
                }
            });
        }
    };


    $('#teacher').click(function() {
        $('.class_code_input').addClass('d-none');
    });
    $('#student').click(function() {
        $('.class_code_input').removeClass('d-none');
    });
</script>