 {% load static %}
{% include 'authuser/header.html' %}



<div id="videos-list">
            <div class="panel panel-default">
                <!--            <div class="panel-heading">Existing Videos</div>-->
                <td class="panel-body">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">S.No.</th>
                            <th scope="col">Student Name</th>
                            <th scope="col">Assignment Pdf</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for response in responses %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td><a href="/teacher/{{response.student.id}}/remark/">{{response.student}}</a></td>
                            <td><a href="{{response.assignment_pdf}}">Student Answersheet Pdf</a></td>
                        </tr>

                        {% empty %}
                        <tr>
                            <td colspan="2" class="alert alert-warning text-center" role="alert">
                                 No assignments are available in this directory.
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>


 {% include 'authuser/footer.html' %}