{% load static %}
{% include 'authuser/header.html' %}
<link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">
<link href="{% static 'css/owl-theme.css' %}" rel="stylesheet">
<section class="home-header">
    <div class="container">
        <div class="center-box">
            <h1 class="main-heading text-white text-center mb-2">Learning is Now Smarter</h1>
            <p class="text-white mb-sm-2 text-sm-center mt-2">Creating digital class rooms with Live Classes and Video Lectures !</p>
            <p class="text-white mb-sm-2 text-sm-center mt-2">Online assignments and Tests !</p>
        </div>
    </div>
</section>

<section style="position: relative;">
    <img src="{% static 'img/body-bg.jpg' %}" class="body-bg" alt="" />
    <div class="container py-3">
        <h2 class="text-center sub-heading my-1">Know Us</h2>

        <div class="row align-items-center">
            <div class="col-md-7">
                <!--                <p class="text-success">About Us</p>-->
                <h2>About Us</h2>
                <p class="mb-1">
                    We’re a leading brand in education industry. We have been providing digital solutions for schools and coaching classes to make teaching easy.
                </p>
                <p class="mb-1">
                    Rechout to students digitally through Live Classes, Video Lectures. Clear student doubts though live sessions.
                    Assess students using Online Assignments, Online Test. Create result sheet online and share with students.
                </p>
            </div>
            <div class="col-md-5 mb-4">
                <img src="{% static 'img/about-us.png' %}" alt="img" class="d-block rounded">
            </div>
        </div>
    </div>
</section>

<section class="categories py-3">
    <div class="container">
        <p class="text-center text-success mb-1">Popular Features</p>
        <h2 class="text-center sub-heading mt-1 mb-4">Check the new exciting features available for use !</h2>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5 mb-4">
                <img src="{% static 'img/live-class.png' %}" alt="img" class="d-block rounded">
            </div>

            <div class="col-md-7">
                <!--                <p class="text-success">About Us</p>-->
                <h2>Live Classes</h2>
                <p class="mb-2">
                    Live Classes provide interactive platform where for teachers and students. Students and teachers can join online class room using mobile devices or personal computers.
                </p>
                <p class="mb-2">
                    Allow students to check which Live Class sessions are schedules for day. This allows students to attend sessions on time.
                </p>
            </div>

        </div>
    </div>
</section>

<section class="py-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7">
                <!--                <p class="text-success">About Us</p>-->
                <h2>Video Lectures</h2>
                <p class="mb-2">
                    Video lectures can be recorder by teachers and shared with students. Students can watch videos any time using mobile devices or personal computers.
                </p>
                <p class="mb-2">
                    Video lectures are segregated by subject and class of students. This allows videos to shown to correct students.
                </p>
            </div>
            <div class="col-md-5 mb-4">
                <img src="{% static 'img/video-lecture.png' %}" alt="img" class="d-block rounded">
            </div>
        </div>
    </div>
</section>

<section class="py-3" id="working">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="w-box text-white p-3 text-center">
                    <figure class="m-0">
                        <img src="{% static 'img/img-1.png' %}" alt="img" class="d-block mx-auto" />
                    </figure>
                    <h3 class="my-1 mt-2">Study</h3>
                    <p class="my-0">Teach online using Live Classes and Videos Leactures</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="w-box text-white p-3 text-center no-border">
                    <figure class="m-0">
                        <img src="{% static 'img/img-2.png' %}" alt="img" class="d-block mx-auto" />
                    </figure>
                    <h3 class="my-1 mt-2">Exam</h3>
                    <p class="my-0">Assess students using time bound exams </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="categories py-3">
    <div class="container">
        <p class="text-center text-success mb-1">Online Assessment</p>
        <h2 class="text-center sub-heading mt-1 mb-4">Assess your students online !</h2>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5 mb-4">
                <img src="{% static 'img/online-assignment.png' %}" alt="img" class="d-block rounded">
            </div>

            <div class="col-md-7">
                <!--                <p class="text-success">About Us</p>-->
                <h2>Online Assignments</h2>
                <p class="mb-2">
                    Share assignments with students so they can practice from homes easily.
                </p>
                <p class="mb-2">
                    Share answer sheets as PDFs or worksheets with students online.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="py-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7">
                <!--                <p class="text-success">About Us</p>-->
                <h2>Online Exams</h2>
                <p class="mb-2">
                    Create online test for topics covered by teachde in Live Classes or Video Lectures.
                </p>
                <p class="mb-2">
                    Assess performance of students at regular interval.
                </p>
            </div>
            <div class="col-md-5 mb-4">
                <img src="{% static 'img/online-exam.png' %}" alt="img" class="d-block rounded">
            </div>
        </div>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script>
    $(document).ready(function() {
        $("#testimonial-box").owlCarousel({
            items: 1,
            nav: true,
            dots: false
        });
    });
</script>
{%  include 'authuser/footer.html' %}
