{% include 'adminwebsite/header.html' %}
{% include 'adminwebsite/left_nav.html' %}

<div id="content-page" class="content-page">
            <div class="container-fluid">
            <div class="row">
                    <div class="col-lg-12">
                        <div class="iq-card">
                            <div class="iq-card-header d-flex justify-content-between">
                                <div class="iq-header-title">
                                    <h4 class="card-title">Registration Notifications </h4>
                                </div>
                            </div>
                            <div class="iq-card-body">
                                <ul class="nav nav-tabs mb-0" id="myTab-1" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Test Listing</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Add Test</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent-2">
                                    <div class="tab-pane fade active show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="table-responsive" style="margin-top: -1px">
                                        {% if tests %}
                                                    {% for test in tests %}
                                            <div class="col-md-6 col-lg-4">
                                                <a href="/admin/add_test_question/{{test.id}}/">
                                                            <div class="iq-card iq-card-block iq-card-stretch iq-card-height overflow-hidden">
                                                                <div class="iq-card-body pb-0">
                                                                    <div class="rounded-circle iq-card-icon iq-bg-success"><i class="ri-user-line"></i>
                                                                    </div>
                                                                    <span class="float-right line-height-6">{{test.testname}}</span>
                                                                    <span class="float-right line-height-6">{{test.test_subject.subject_name}}</span>
                                                                    <div class="clearfix"></div>
                                                                    <div class="text-center">
                                                                        <h2 class="mb-0"><span class="counter">{{test.totalmarks}}</span><span></span></h2>
                                                                        <!--                                    <p class="mb-0 text-secondary line-height"><i class="ri-arrow-down-line text-danger mr-1"></i><span class="text-danger">10%</span> Increased</p>-->
                                                                    </div>
                                                                </div>
                                                                <div id="chart-3"></div>
                                                            </div>
                                                </a>
                                                        </div>
                                                    {% endfor %}

                                            {% else %}
                                            <br>
                                            <h2>No Test Paper Available</h2>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                        <div class="table-responsive" style="margin-top: -1px">
                                            <form action="" method="post">{% csrf_token %}
                                                <div class="input-group mb-4">
                                                <label class="form-label">Class</label>
                                                <select name="class_code" onclick="class_subject()" class="from-input" id="cat-1">
                                                    <option selected disabled>Select Class</option>
                                                    {% for class in classes %}
                                                        <option value="{{class.id}}">{{class.class_name}}</option>
                                                    {% endfor %}
                                                </select>
                                                </div>
                                                <div class="input-group mb-4">
                                                <label class="form-label">Subjects</label>
                                                <select class="from-input rounded px-2" name="subject" id="cat-2">
                                                    <option selected="selected" disabled="disabled">Select Subject</option>
                                                </select>
                                                </div>
                                                <input type="text" name="test_name" placeholder="test_name">
                                                <input type="text" name="totalmarks" placeholder="totalmarks">
                                                <input type="text" name="totalquestion" placeholder="totalquestion">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>

{%  include 'adminwebsite/footer.html' %}

<script>

function class_subject(){
var category = $("#cat-1").val()
        $.ajax({
            type: 'GET',
            url: '/admin/subject/' + category + '/',
            dataType: "json",
            success: function(data) {
                $.each(data.subject, function(index, value) {
                    $("#cat-2").append("<option value=" + value.subject_name + ">" + value.subject_name + "</option>")
                })
                }
                });
}

</script>