{% load static %}
{% include 'adminwebsite/header.html' %}


<section class="sign-in-page bg-white">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-sm-6 align-self-center">
                <div class="iq-sidebar-logo">
                    <div class="top-logo">
                        <a href="index.html" class="logo">
                            <img src="{% static 'img/logo/logo-icon-310x310.png' %}" class="img-fluid" alt="">
                            <span>Learner Tribe</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-sm-6 align-self-center">
                <div class="sign-in-from">
                    <h1 class="mb-4">
                        <img style="height:80px;" src="{% static 'img/logo/logo-icon-310x310.png' %}" class="img-fluid" alt=""> Learner Sign in
                    </h1>
                    <p>Enter your email address and password to access admin panel.</p>
                    <form class="mt-4" method="post" id="login">{% csrf_token %}
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="text" name="username" class="form-control mb-0" id="exampleInputEmail1"
                                   placeholder="Enter email">
                            <label id="login-error" class="error" style="font-size:12px"></label>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" name="password" class="form-control mb-0" id="exampleInputPassword1"
                                   placeholder="Password">
                        </div>
                        <div class="d-inline-block w-100">
                            <div class="custom-control custom-checkbox d-inline-block mt-2 pt-1">
                            </div>
                            <span onclick="login()" class="btn btn-primary float-right">Sign in</span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="sign-in-detail text-white"
                     style="background: url(images/login/2.jpg) no-repeat 0 0; background-size: cover;">
                    <a class="sign-in-logo mb-1" href="#">
                        <img src="{% static 'rental_admin/images/logo-white.png' %}" class="img-fluid" alt="logo">
                        <!--                            <span class="text-white h1">Logo</span>-->
                    </a>
                    <div class="owl-carousel mt-4" data-autoplay="true" data-loop="true" data-nav="false" data-dots="true"
                         data-items="1" data-items-laptop="1" data-items-tab="1" data-items-mobile="1"
                         data-items-mobile-sm="1" data-margin="0">
                        <div class="item">
                            <img src="{% static 'rental_admin/images/login/1.png' %}" class="img-fluid mb-4" alt="logo">
                            <h4 class="mb-1 text-white">Manage your students/teachers</h4>
                            <p>It is a long established fact that a reader will be distracted by the readable
                                content.</p>
                        </div>
                        <div class="item">
                            <img src="{% static 'rental_admin/images/login/1.png' %}" class="img-fluid mb-4" alt="logo">
                            <h4 class="mb-1 text-white">Manage your videos/assignments</h4>
                            <p>It is a long established fact that a reader will be distracted by the readable
                                content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{%  include 'adminwebsite/footer.html' %}
<script>

    function login(){
      $.ajax({
          type: 'POST',
          url: '/admin/login/',
          data: $("#login").serialize(),
          dataType: "json",
          success: function (data) {
            if (data.message != "success") {
              $("#login-error").text(data.message);
              return false;
            } else {
               window.location.href = "/admin/dashboard/"
            }
          }
      });
    }



</script>
