{% include 'adminwebsite/header.html' %}
{% include 'adminwebsite/left_nav.html' %}

<div id="content-page" class="content-page">
            <div class="container-fluid">
            <div class="row">
                    <div class="col-lg-12">
                        <div class="iq-card">
                            <div class="iq-card-header d-flex justify-content-between">
                                <div class="iq-header-title">
                                    <h4 class="card-title">Registration Notifications </h4>
                                </div>
                            </div>
                            <div class="iq-card-body">
                                <ul class="nav nav-tabs mb-0" id="myTab-1" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Teacher </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Student </a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent-2">
                                    <div class="tab-pane fade active show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="table-responsive" style="margin-top: -1px">
                                            {% if teacher_listing %}
                                            <table class="table mb-0  table-striped">
                                                <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Contact</th>
                                                    <th>Email</th>
                                                    <th>DOB</th>
                                                    <th>Is Active</th>
                                                    <th>Action</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tbody>
                                                    {% for user in teacher_listing %}
                                                    <tr>
                                                        <td>{{user.full_name}}</td>
                                                        <td>{{user.mobile_number}}</td>
                                                        <td>{{user.email}}</td>
                                                        <td>{{user.date_joined}}</td>
                                                        <td>
                                                            <div class="custom-control custom-switch text-center">
                                                                {% if user.is_verified %}
                                                                <input type="checkbox"
                                                                       onclick="user_update({{user.id}})"
                                                                       name="is_verified" value="0"
                                                                       class="custom-control-input"
                                                                       id="is_verified{{user.id}}" checked="">
                                                                {% else %}
                                                                <input type="checkbox"
                                                                       onclick="user_update({{user.id}})"
                                                                       name="is_verified" value="1"
                                                                       class="custom-control-input"
                                                                       id="is_verified{{user.id}}">
                                                                {% endif %}
                                                                <label class="custom-control-label"
                                                                       for="is_verified{{user.id}}"></label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="flex align-items-center list-user-action">
                                                                <a data-toggle="tooltip" data-placement="top" title=""
                                                                   data-original-title="Details"
                                                                   href="/admin/user_detail/{{user.id}}/"><i
                                                                        class="ri-file-list-3-line"></i></a>
                                                                <a data-toggle="tooltip" data-placement="top" title=""
                                                                   data-original-title="Delete" href="javascript:;"
                                                                   onclick="user_delete({{user.id}})"><i
                                                                        class="ri-delete-bin-line"></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <input type="hidden" class="user_id" value="{{user.id}}">

                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                            {% else %}
                                            <br>
                                            <h2>No Pending Registrations</h2>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                        <div class="table-responsive" style="margin-top: -1px">
                                            {% if student_listing %}
                                            <table class="table mb-0  table-striped">
                                                <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Contact</th>
                                                    <th>Email</th>
                                                    <th>Joined On</th>
                                                    <th>Verify</th>
                                                    <th>Action</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tbody>
                                                    {% for user in student_listing %}
                                                    <tr>
                                                        <td>{{user.full_name}}</td>
                                                        <td>{{user.mobile_number}}</td>
                                                        <td>{{user.email}}</td>
                                                        <td>{{user.created_at}}</td>
                                                        <td>
                                                            <div class="custom-control custom-switch text-center">
                                                                {% if user.is_verified %}
                                                                <input type="checkbox"
                                                                       onclick="user_update({{user.id}})"
                                                                       name="is_verified" value="0"
                                                                       class="custom-control-input"
                                                                       id="is_verified{{user.id}}" checked="">
                                                                {% else %}
                                                                <input type="checkbox"
                                                                       onclick="user_update({{user.id}})"
                                                                       name="is_verified" value="1"
                                                                       class="custom-control-input"
                                                                       id="is_verified{{user.id}}">
                                                                {% endif %}
                                                                <label class="custom-control-label"
                                                                       for="is_verified{{user.id}}"></label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="flex align-items-center list-user-action">
                                                                <a data-toggle="tooltip" data-placement="top" title=""
                                                                   data-original-title="Details"
                                                                   href="/admin/user_detail/{{user.id}}/"><i
                                                                        class="ri-file-list-3-line"></i></a>
                                                                <a data-toggle="tooltip" data-placement="top" title=""
                                                                   data-original-title="Delete" href="javascript:;"
                                                                   onclick="user_delete({{user.id}})"><i
                                                                        class="ri-delete-bin-line"></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <input type="hidden" class="user_id" value="{{user.id}}">

                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                            {% else %}
                                            <br>
                                            <h2>No Pending Registrations</h2>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>

{%  include 'adminwebsite/footer.html' %}