{% include 'adminwebsite/header.html' %}
{% include 'adminwebsite/left_nav.html' %}


<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <a href="" style="float:right"> </a>

                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Student Listing</h4>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <div class="row justify-content-between">
                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <div id="user_list_datatable_info" class="dataTables_filter">
                                    <form method="get" action="/admin/student_listing/" class="mr-3 position-relative">
                                        <div class="form-group mb-0">
                                            <input type="search" name="search" class="form-control" id="exampleInputSearch" placeholder="Search" aria-controls="user-list-table"><br>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="user-list-files d-flex float-right">
                                    <a href="/admin/student_listing/?download=csv" class="chat-icon-phone">
                                        Download
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">

                            <table id="user-list-table" class="table table-striped table-bordered mt-0" role="grid" aria-describedby="user-list-page-info">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Contact</th>
                                        <th>Email</th>
                                        <th>Class</th>
                                        <th>Joined On</th>
                                        <th>Verify</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in total_student %}
                                    <tr>
                                        <td>{{user.full_name}}</td>
                                        <td>{{user.mobile_number}}</td>
                                        <td>{{user.email}}</td>
                                        <td>{{user.class_room.class_name}}</td>
                                        <td>{{user.created_at}}</td>
                                        <td>
                                            <div class="custom-control custom-switch text-center">
                                                {%  if user.is_verified %}
                                                <input type="checkbox" onclick="user_update({{user.id}})" name="is_verified" value="0" class="custom-control-input" id="is_verified{{user.id}}" checked="">
                                                {% else %}
                                                <input type="checkbox" onclick="user_update({{user.id}})" name="is_verified" value="1" class="custom-control-input" id="is_verified{{user.id}}">
                                                {% endif %}
                                                <label class="custom-control-label" for="is_verified{{user.id}}"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="flex align-items-center list-user-action">
                                                <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Details" href="/admin/user_detail/{{user.id}}/"><i class="ri-file-list-3-line"></i></a>
                                                <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="javascript:;" onclick="user_delete({{user.id}})"><i class="ri-delete-bin-line"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <input type="hidden" class="user_id" value="{{user.id}}">
                                    {% endfor %}

                                </tbody>
                            </table>
                            {% include 'adminwebsite/paginator.html' with users=total_student %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{%  include 'adminwebsite/footer.html' %}
